@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');


body {
    background-color: #f1f1f1;
    color: black;
    font-size: 100%;
    font-weight: normal;
    margin-left: 30px;
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: 'Roboto', sans-serif;

     }
h1 {color: #493636;}

a {
color: #493636 ;
text-decoration: none;
}
a:hover {text-decoration: underline;}
a:visited {color: grey;}


.photo {
    width: 220px;
    height: 180px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgb(0 0 0 /50%);
}

.info {margin-bottom: 10px; display: flex;}

/*@media  - это описание правил (с условием выполнения-в скобках)*/
@media (max-width: 700px) {
    .info {
        text-align: center; 
        display: block; /*когда ширина окна меньше 700- перемещаем текс ПОД фото*/
    }
}

.info-text {margin-left: 40px;}

.info p {
color:#493636;
margin: 0;
font-style: italic;
font-weight:lighter;
text-decoration: none;
/* text-transform: lowercase; */
}

/* boxmodel */
.container {
    width: 100%;
    max-width: 100%; 
    margin-top: auto;
    padding-top: 10px;
}

/* .social {
background-color: rgb(226, 179, 179);
/* padding: 15px; */
/* padding: 15px 20px 30px 40px; */
/* padding-left: 50px;
border: 5px solid red;
border-bottom-style: dotted;
margin: 20px;
box-sizing: border-box; */
/* } */ 
.bg-yellow {background: #fff9dc;}
.bg-green {background: #e5ffe7;}
.bg-red {background: #ffe5e5;}

.card h3 {margin-bottom: 10px;}
.card {
padding: 20px;
/* background-color: red; */
margin-bottom: 20px;
border-radius: 20px;
}

.list {padding: 0 20px;}
.list li {
    color: #86898f;
    margin-bottom: 10px;
}

.table { width: 100%;}
.table td { padding:  10px;}

/* .table td:nth-child(2) {color: red;}
.table tr:nth-child(2){color: green} */